 body {
     
     margin: 0px;
     overflow-x: hidden;
     /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
 }




 /* Frist show page  */
 #first-show-page {
     font-family: 'Roboto', sans-serif;
     position: absolute;
     z-index: 3;
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #9b59b6;
     padding: 0px;
 }


 .first-show-page button {
     width: 200px;
     height: 60px;
     border: 1px solid white;
     background-color: #9b59b6;
     color: white;
     font-size: 20px;
 }

 .first-show-page button:hover {
     background-color: white;
     color: #9b59b6;
     transition: 0.3s;
     cursor: pointer;

 }






 .bottom-navbar-container {
     position: absolute;
     z-index: 2;
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
     bottom: 0px;

 }

 .bottom-navbar {

     width: 60vw;

     background: transparent;
     display: flex;
     justify-content: space-between;
     align-items: center;

 }

 .bottom-navbar li {
     list-style: none;
 }

 .bottom-navbar li a {
     font-family: 'Roboto', sans-serif;
     text-decoration: none;
     color: white;
     font-size: 20px;
 }






 /* banner = First div that appear after 'first show page' */

 .banner-page-cover{
    
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color:#6F1E51;
    z-index: 10;
    animation-name: anim;
    animation-duration: 1s;
    width: 0vw;
    
    


 }
 @keyframes anim {
    from{
        width:  100vw;

    }
    to{
        width: 0vw;
    }
    
 }
 
 
 .banner {
     width: 100vw;
     height: 100vh;
     position: relative;
     z-index: 1;
     background-color: brown;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 /* This div contains banner-image-container and  banner-image-container contains banner-image */
 .left-side-of-banner-image {
     position: relative;
     width: 50vw;
     height: 100vh;
     display: flex;

     justify-content: center;
     align-items: flex-start;

 }

 .banner-image {

     width: 22vw;
     height: 32vw;
     z-index: 4;
 }

 #banner-image-cover {
     position: absolute;
     width: 22vw;
     height: 32vw;
     background-color: brown;
     z-index: 5;
 }



 /* This div contains my bio. In this div, my information will be shown. */
 .bio {
     width: 50vw;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;

 }

 /* my name */
 #banner-heading-name {
     font-weight: 900;
     font-family: 'Roboto', sans-serif;
     color: white;
     font-size: 70px;
     margin-bottom: 0px;


 }

 /* react.js developer */
 #designation {
     font-family: 'Roboto', sans-serif;
     color: aliceblue;
     font-weight: 300;
     font-size: 45px;
     margin-top: 0px;
 }

 /* all buttons-=-=-= bio_button, skillsets, projects, contact information */
 .bio_button {
     border: 1px solid white;
     width: 100px;
     height: 40px;
     background-color: brown;
     color: white;
     font-size: 17px;
   
 }

 .skillset {
     border: 1px solid white;
     width: 120px;
     height: 40px;
     background-color: brown;
     color: white;
     font-size: 17px;
 }

 .projects-btn {
     border: 1px solid white;
     width: 120px;
     height: 40px;
     background-color: brown;
     color: white;
     font-size: 17px;
 }

 .contact_information {
     border: 1px solid white;
     width: 200px;
     height: 40px;
     background-color: brown;
     color: white;
     font-size: 17px;
 }

 .bio_button:hover,
 .skillset:hover,
 .projects-btn:hover,
 .contact_information:hover {
     cursor: pointer;
     background-color: white;
     color: brown;
     transition: 0.4s;
 }



 /* Now, here is all activities about bio page. */
 .bio-page-cover{
    
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #2c3e50;
    z-index: 3;
    animation-name: anim;
    animation-duration: 1s;
    width: 0vw;
    
    


 }
 @keyframes anim {
    from{
        width: 100vw;

    }
    to{
        width: 0vw;
    }
    
 }
 
 
 #bio-details {
     position: relative;
     width: 100vw;
     height: 100vh;
     background-color: #2c2c54;
     display: flex;
     justify-content: flex-end;
     align-items: center;
    
 }



 #bio-detail-description {
     width: 40vw;
     height: 100vh;

     font-family: 'Raleway', sans-serif;
     font-weight: 400;
     font-size: 20px;
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     line-height: 2.2vw;
     font-size: 1.5vw;
    

 }

 #right-side-image-container {
     width: 50vw;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
 }
 #bio-details-image{
    width: 50%;
    height: 50%;

 }
 .about-me{
    font-family: 'Josefin Slab', serif;
    font-size: 5vw;
    width: 100%;
    /* line-height: 75px; */
 }
 .banner-btn-on-bio-details {
     width: 100px;
     height: 40px;
     border: 1px solid white;
     background-color: #2c2c54;
     color: white;
     font-size: 17px;
 }

 .skillset-on-bio-details {
     width: 100px;
     height: 40px;
     border: 1px solid white;
     background-color: #2c2c54;
     color: white;
     font-size: 17px;
 }

 .projects-on-bio-details {
     width: 100px;
     height: 40px;
     border: 1px solid white;
     background-color: #2c2c54;
     color: white;
     font-size: 17px;
 }


 .contact-information-on-bio-details {
     width: 180px;
     height: 40px;
     border: 1px solid white;
     background-color: #2c2c54;
     color: white;
     font-size: 17px;
 }



 .banner-btn-on-bio-details:hover,
 .skillset-on-bio-details:hover,
 .projects-on-bio-details:hover,
 .contact-information-on-bio-details:hover {
     cursor: pointer;
     color: #2c2c54;
     background-color: white;
     transition: 0.4s;
 }



 /* now lets work for skill section */
 .skill-page-cover{
    
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #747d8c;
    z-index: 3;
    animation-name: anim;
    animation-duration: 1s;
    width: 0vw;
    
    


 }
 @keyframes anim {
    from{
        width:100vw;

    }
    to{
        width: 0vw;
    }
    
 }
 
 .skill-div {
     width: 100vw;
     height: 100vh;
     background-color: #4b4b4b;
     color: rgb(175, 175, 175);
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;



 }

 .some-text-about-skill {
     width: 36vw;
     height: 100vh;
     padding: 0vw 4vw;
     background-color: rgb(175, 175, 175);
     color: #4b4b4b;
     /* font-family: 'Josefin Slab', serif; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
 }
 .some-text-about-skill h1{
    font-family: 'Josefin Slab', serif;
    font-size: 4vw;
    font-weight: 400;
 }
 .text-bold {
     font-weight: bold;
 }

 .right-side-skill-showing-section {
     width: 60vw;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
 }

 .progress-bar {
     border: 1px solid rgb(175, 175, 175);
     display: inline-block;
     width: 40vw;
     height: 30px;
 }

 #progress-fill-html,
 #progress-fill-css,
 #progress-fill-javascript,
 #progress-fill-bootstrap,
 #progress-fill-tailwind,
 #progress-fill-react,
 #progress-fill-next,
 #progress-fill-node,
 #progress-fill-express,
 #progress-fill-mongodb,
 #progress-fill-redux,
 #progress-fill-typescript {
     display: inline-block;
     position: relative;
     width: 0%;
     height: 100%;
     background-color: rgb(175, 175, 175);
     color: #4b4b4b;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .banner-btn-in-skill-section {
     width: 100px;
     height: 40px;
     color: #4b4b4b;
     border: 1px solid #4b4b4b;
     background-color: rgb(175, 175, 175);

 }

 .bio-btn-in-skill-section {
     width: 60px;
     height: 40px;
     color: #4b4b4b;
     border: 1px solid #4b4b4b;
     background-color: rgb(175, 175, 175);

 }

 .projects-btn-in-skill-section {
     width: 90px;
     height: 40px;
     color: #4b4b4b;
     border: 1px solid #4b4b4b;
     background-color: rgb(175, 175, 175);

 }

 .contact-information-btn-in-skill-section {
     width: 160px;
     height: 40px;
     color: #4b4b4b;
     border: 1px solid #4b4b4b;
     background-color: rgb(175, 175, 175);

 }

 .banner-btn-in-skill-section:hover,
 .bio-btn-in-skill-section:hover,
 .projects-btn-in-skill-section:hover,
 .contact-information-btn-in-skill-section:hover {
     background-color: #4b4b4b;
     color: rgb(175, 175, 175);
     cursor: pointer;
     transition: 0.3s;
 }





 /* lets work with projects section. My projects wil be shown side by side. */
 .project-page-cover{
    
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #2c2c54;
    z-index: 10;
    animation-name: anim;
    animation-duration: 1s;
    width: 0vw;
    
    


 }
 @keyframes anim {
    from{
        width: 100vw;

    }
    to{
        width: 0vw;
    }
    
 }
 
 
 
 
 .project-div {
     width: 100vw;
     height: 100vh;
     background-color: #222f3e;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;

 }

 .projects-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .project-div-heading {
     text-align: center;
     color: white;
     font-weight: 700;
     font-size: 60px;
     position: relative;
     top: 50px;
     font-family: 'Roboto', sans-serif;
 }

 .projects-container {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 100vw;
     height: 90vh;
     overflow: hidden;
 }

 .card {
     position: relative;
     width: 400px;
     height: 500px;
     font-size: 13px;
     font-family: 'Raleway', sans-serif;


     border: 1px solid white;

     background-color: #222f3e;
     color: white;
     font-family: 'Roboto', sans-serif;
 }

 .card h3 {
     padding-left: 10px;
     padding-right: 10px;
 }

 .card p {
     padding-left: 10px;
     padding-right: 10px;
     line-height: 1.2rem;
 }

 .live-site {
     color: white;
     text-decoration: none;
     width: 60px;
     display: inline-block;
     height: 30px;
     border: 1px solid white;
     background-color: #222f3e;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 11px;
 }


 .client-side,
 .server-side {
     color: white;
     text-decoration: none;
     width: 120px;
     display: inline-block;
     height: 30px;
     border: 1px solid white;
     background-color: #222f3e;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 11px;

 }

 .live-site:hover, .client-side:hover, .server-side:hover{
    color: #222f3e;
    background-color: white;
    cursor: pointer;
    transition: 0.4s;
 }

 .button-holder-in-card {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }

 .card img {
     width: 95%;
     position: relative;
     left: 2.5%;
     right: 2.5%;
     margin-top: 2.5%;
     height: 50%;

 }


 .project-div-bio-btn {
     width: 60px;
     height: 40px;
     border: 1px solid white;
     background-color: #222f3e;
     color: white;
     font-size: 17px;
 }

 .project-div-banner-btn {
     width: 100px;
     height: 40px;
     border: 1px solid white;
     background-color: #222f3e;
     color: white;
     font-size: 17px;
 }


 .project-div-skillset-btn {
     width: 100px;
     height: 40px;
     border: 1px solid white;
     background-color: #222f3e;
     color: white;
     font-size: 17px;
 }


 .project-div-contact-information-btn {
     width: 180px;
     height: 40px;
     border: 1px solid white;
     background-color: #222f3e;
     color: white;
     font-size: 17px;
 }





 .project-div-bio-btn:hover,
 .project-div-banner-btn:hover,
 .project-div-skillset-btn:hover,
 .project-div-contact-information-btn:hover {
     color: #222f3e;
     background-color: white;
     cursor: pointer;
     transition: 0.4s;
 }

 .navigation-btn {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 94vw;
     
 }




 /* lets work with contact information page */
 
 .contact-information-page-cover{
    
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #1a2d57;
    z-index: 10;
    animation-name: anim;
    animation-duration: 1s;
    width: 0vw;
    
    


 }
 @keyframes anim {
    from{
        width: 100vw;

    }
    to{
        width: 0vw;
    }
    
 }
 
 
 
 
 .contact-information-div{
    width: 100vw;
    height: 100vh;
    background-color: #6D214F;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 form{
    /* position: relative;
    right: 20vw; */
    width: 50vw;
    height: 60vh;
    color: white;
    font-size: 25px;
    font-family: 'Jura', sans-serif;
 }


.text-area{
    border: 1px solid white;
    background-color: antiquewhite;
}
.send-btn{
    width: 80px;
    height: 30px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.send-btn:hover{
    cursor: pointer;
    color: #6D214F;
    background-color: white;
    transition: 0.4s;
}
 
.contact-pages-btn-container{
    position: relative;
    top: 40vh;
    left: 5vw;
}

.contact-banner-btn{
    width: 70px;
    height: 30px;
    background: transparent;
    border: 1px solid white;
    color: white;
    
}
.contact-bio-btn{
    width: 50px;
    height: 30px;
    background: transparent;
    border: 1px solid white;
    color: white;
    
}
.contact-skillset-btn{
    width: 80px;
    height: 30px;
    background: transparent;
    border: 1px solid white;
    color: white;
    
}
.contact-projects-btn{
    width: 70px;
    height: 30px;
    font-size: 12px;
    background: transparent;
    border: 1px solid white;
    color: white;
    
}
.contact-banner-btn:hover, .contact-bio-btn:hover, .contact-projects-btn:hover, .contact-skillset-btn:hover{
    background-color: white;
    color: #6D214F;
    transition: 0.3s;
    cursor: pointer;
}






.github-resume-container{
    position: relative;
    top: 20px;
}






.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.html-div{
    width: 90%;
}








@media screen and (max-width: 575px) {

    
    .banner {
        
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #banner-heading-name{
        font-size: 12vw;
    }
    #designation{
        font-size: 9vw;
    }
    .left-side-of-banner-image{
        width: 55vw;
        height: 80vw;
    }
    .banner-image{
        width: 100%;
        height: 100%;
    }
    #banner-image-cover{
        width: 55vw;
        height: 80vw;
    }
    .bio{
        width: 90vw;
    }
    .contact_information{
        margin-top: 4px;
    }







    .bio-page-cover{
        height: 350vw;
    }

    #bio-details{
        flex-direction: column;
        height: 350vw;
        justify-content: center;
        align-items: center;
    }
    #bio-details-image {
        width: 100%;
        height: 65%;
    }
    #bio-detail-description{
        width: 80%;
        height: 172vw;
        font-size: 5vw;
        line-height: 6.5vw;
    }
    #right-side-image-container{
        width: 80%;
        height: 125vw;
    }
    .contact-information-on-bio-details{
        margin-top: 4px;
    }

    .about-me{
        font-size: 12vw;
    }

































    .skill-page-cover{
        height: 391vw;
    }
    .skill-div{

        height: 391vw;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .some-text-about-skill{
        height: 192vw;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .some-text-about-skill p{
        line-height: 8.5vw;
    }
    .right-side-skill-showing-section{
        width: 100%;
        height: 177vw;
        padding-left: 5%;
        padding-right: 5%;
    }
    .contact-information-btn-in-skill-section{
        margin-top: 5px;
    }
    .some-text-about-skill h1{
        font-size: 11vw;
        color: #4b4b4b;

    }













































    .project-page-cover{
        height: 500vh;
    }
/* extraaaaaaaaaaaaaaaaa */
    .project-div{
        /* flex-direction: column; */
        height: 500vh;
    }
    .projects-container{
        flex-direction: column;
        height: 450vh;
    }


    .navigation-btn{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 20vh;
    }
    .card{
        width: 93vw;
        height: 150vw;
        
    }
    .card p{
        line-height: 7vw;
        padding: 0px;
        width: 90%;
        position: relative;
        left: 5%;
        right: 5%;

    }
    .card img {
        width: 90%;
        height: 40%;
        position: relative;
        left: 5%;
        right: 5%;
        margin-top: 5%;

    }
    .card h3{
        padding: 0px;
        width: 90%;
        position: relative;
        left: 5%;
        right: 5%;
    }
    .projects-container{
        height: 485vw;
    }
    .project-div{
        height: 550vw;
    }
    .project-div-contact-information-btn{
        margin-top: 4px;
    }

    
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
    
    
    
    .contact-information-div{
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    form {
        width: 80vw;
        height: 80vh;
    }    
    .contact-pages-btn-container{
        top: 0px;
        height: 0px;
    }
    .text-area{
        width: 50vw;
    }

}
